@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-deepBlack text-white antialiased selection:bg-neonBlue selection:text-white;
  }
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
